@charset "UTF-8";
body{
	width: 680px;
	margin: 0px auto;
}
header{
	width: 680px;
}
header div{
	text-align: right;
	font-size: 12px;
}
header h1{
	text-align: center;
	font-size: 50px;
	color: skyblue;
	text-shadow: 5px 5px 5px darkblue;
}
header nav{
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	background-color: skyblue;
}
header nav li{
	list-style-type: none;
	display: inline;
	margin-left: 45px;
}
section{
	width: 680px;
}
#mainImg{
	width: 300px;
	float: left;
}
#mainImg img{
	width: 300px;
	height: 400px;
}
#subMenu{
	margin-left: 30px;
	width: 300px;
	float: left;
}
footer{
	clear: both;
}
footer div{
	text-align: center;
}